---
import CV from '@cv'
const { work } = CV

import FormattedDate from './FormattedDate.astro'
---

<ul class='relative border-s border-gray-700'>
  {
    work.map((experience) => (
      <li class='mb-16 ms-6 last:mb-0'>
        <span class='absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-8 ring-gray-900 bg-blue-900'>
          <svg
            class='w-2.5 h-2.5'
            aria-hidden='true'
            xmlns='http://www.w3.org/2000/svg'
            fill='currentColor'
            viewBox='0 0 20 20'
          >
            <path d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z' />
          </svg>
        </span>
        <h3 class='flex items-center mb-1 text-lg font-semibold text-white'>
          {experience.name}
          <span class='mx-1 text-gray-400'>como</span>
          {experience.position}
          <span class='badge text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3'>
            {experience.remoto ? 'Remoto' : 'Presencial'}
          </span>
        </h3>
        <div class='block mb-2 text-sm font-normal leading-none'>
          <FormattedDate date={experience.startDate} /> -{' '}
          {experience.endDate ? (
            <FormattedDate date={experience.endDate} />
          ) : (
            'Actual'
          )}
        </div>
        <p class='mb-4 text-base font-normal text-gray-400'>
          {experience.summary}
        </p>
      </li>
    ))
  }
</ul>

<style>
  .badge {
    background-color: var(--primary-dark);
    color: var(--primary-light);
  }
  time {
    color: var(--primary-light);
  }
</style>
